.chatbot {
  width: 100%;
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #ffffff;
}

.message-container {
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message-container.user {
  justify-content: flex-end;
}

.message-container.bot {
  justify-content: flex-start;
}

.message {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  max-width: 70%;
}

.message.user {
  background-color: #003366;
  color: white;
  text-align: right;
}

.message.bot {
  background-color: #d5f3ff;
  text-align: left;
}

.chatbot-input {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  border-top: none;
  border-bottom: none;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #a0b0b9;
  border: 1px solid #a0b0b9;
  border-radius: 20px;
  padding: 0.5rem;
  width: 100%;
  max-width: 60%;
}

.text-icon {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-right: 0.5rem;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  background-color: #a0b0b9;
}

.input-field::placeholder {
  color: #4b4b4b;
  opacity: 1;
}

.icon {
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
  margin-left: 0.5rem;
}

.icon.send-icon:hover,
.icon.options-icon:hover {
  color: #353535;
}

.dropdown-container {
  position: relative;
}

.dropdown-sentiment {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: auto;
  height: auto;
  border-radius: 8px;
}

.item-sentiment {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  padding: 5px 0;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  display: block;
  box-sizing: border-box;
}

.dropdown-sentiment:hover {
  background-color: #cfcfcf;
}

.options-icon {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 50%;
  overflow: auto;
  position: relative;
  margin: auto;
  border: 1px solid #888;
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border: 0.25em solid #f3f3f3;
  border-top: 0.25em solid #3498db;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
  margin: 20px auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 600px) {
  .input-container {
    max-width: 90%;
  }
}

.font-list {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
  top: 92%;
  transform: translateY(-100%);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.font-list li {
  padding: 5px 10px;
  cursor: pointer;
}

.font-list li:hover {
  background-color: #f0f0f0;
}

.font-icon {
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
  font-size: 24px;
}

.font-icon:hover {
  color: #353535;
}
