.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1.5rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 10vh;
}

.navbar-title {
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
  flex: 1;
  font-weight: bold;
  text-decoration: none;
}

.navbar-user {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
}

.user-photo {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-user .welcome {
  margin: 0;
  font-size: 1em;
  color: #ccc;
}

.navbar-user .user-name {
  margin-left: 5px;
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.user-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.user-button:hover {
  background-color: #555;
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  width: 200px;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
  white-space: nowrap;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #555;
}

.dropdown-menu li a,
.dropdown-menu li button {
  display: block;
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dropdown-menu li a,
.dropdown-menu li button {
  font-size: 1rem;
}

.menu-divider {
  width: 70%;
  margin: 8px auto;
  border-top: 1px solid #a3a3a3;
}

.icono-chatbot {
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
  vertical-align: middle;
}
