.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.label {
  font-size: 1rem;
  font-weight: bold;
}

.input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 96%;
}

.text-muted {
  color: #6c757d;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #2c2c2c;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #1c1c1c;
  transform: scale(1.03);
}
